@import '../../sass/index.scss';
@import 'variables';
@import 'mixims';

body {
  font-family: 'Alkatra', cursive;
}

.wrapper__solution {
  display       : flex;
  flex-direction: column;
  gap           : 1.5rem;
  margin-top    : 24px;
}

.container {
  display: flex;
  gap    : 1rem;

  &__box {
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 8rem;
    height         : 5rem;
    border-radius  : 0.8em;
    color          : white;
  }

  :nth-last-child(-n+4) {
    color: black;
  }
}

.color_one {
  @include colorPalette($colorOne)
}

.color_two {
  @include colorPalette($colorTwo)
}

.color_three {
  @include colorPalette($colorThree)
}