@import '../../sass/index.scss';

body {
  display        : flex;
  flex-direction : column;
  justify-content: space-between;
  height         : 100vh;
  font-family    : 'Karla',
    sans-serif;
}

.header {
  &__title {
    font-size: 20px;
  }


  &__list {
    display       : flex;
    flex-direction: column;
    list-style    : none;
    padding-left  : 0px;
    

    &--item {
      display         : flex;
      justify-content : center;
      align-items     : center;
      width           : 100%;
      height          : 40px;
      background-color: #FFEAEA;
      cursor          : pointer;

      &:hover {
        background-color: lighten(#E11299, 30%);
      }
    }

    @include desktop {
      flex-direction : row;
      justify-content: space-between;
    }
  }
}