@import '../../sass/index.scss';
@import 'theme';

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: normal;
  height: 100vh;
}

h1, h2 {
  margin: 0.2em 0px;
}

.wrapper__solution {
  display        : flex;
  justify-content: space-around;
}

.container {
  display       : flex;
  flex-direction: column;
  gap           : 0.7rem;
}

.box {
  display        : flex;
  justify-content: center;
  align-items    : center;
  width          : 9rem;
  height         : 4rem;
  border         : 1px solid gray;
}

.theme {
  &__1 {
    font-family: $font__principal--theme1;

    & .box {
      border-radius: $border-radius--theme1;
    }

    & .base {
      background-color: $color__primary--theme1;
    }

    & .important {
      background-color: $color__important--theme1;
    }

    & .warning {
      background-color: $color__warning--theme1;
    }

    & .font-secondary {
      font-family: $font__secondary--theme1;
    }

    & .box-shadow {
      box-shadow: $box-shadow-theme1;
    }
  }

  &__2 {
    font-family: $font__principal--theme2;

    & .box {
      border-radius: $border-radius--theme2;
    }

    & .base {
      background-color: $color__primary--theme2;
    }

    & .important {
      background-color: $color__important--theme2;
    }

    & .warning {
      background-color: $color__warning--theme2;
    }

    & .font-secondary {
      font-family: $font__secondary--theme2;
    }

    & .box-shadow {
      box-shadow: $box-shadow-theme2;
    }
  }
}